.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 60px;
    font-weight: 500;
}
.contact-title span{
    background: linear-gradient(270deg,#43da25 50.41%,#23e1d4 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-family: "Great Vibes", serif;
}
.contact-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 40%;
}
.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg,#43da25 80%,#23e1d4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 16px;
    line-height: 25px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #D8D8D8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 18px;
}
.contact-right{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.contact-right label{
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 100%;
    /* height: 78px; */
    /* padding-left: 20px; */
    padding: 18px 0 18px 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
}
.contact-right textarea{
    width: 100%;
    border: none;
    padding: 18px 0 18px 20px;
    /* padding: 25px; */
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
}
.contact-submit{
    border: none;
    color: black;
    border-radius: 50px;
    background: linear-gradient(264deg,#43da25 -5.09%,#23e1d4 106.28%);
    font-size: 18px;
    padding: 18px 40px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
hr{
    border: 2px solid #43da25;
}
@media (max-width:768px) {
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        font-size: 50px;
        padding: 0;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
        /* gap: 50px; */
    }
    .contact-left h1{
        /* gap: 20px; */
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
        /* line-height: 25px; */
    }
    .contact-details{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        /* font-size: 20px; */
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 100%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 18px 40px;
    }
}